html, body
{
	margin: 0;
	padding: 0;
}

main
{
	display: grid;
	grid-template-areas: "nav" "content" "footer";
	grid-template-rows: min-content auto min-content;
}

nav
{
	grid-area: nav;
}

#content
{
	grid-area: content;
}

footer
{
	grid-area: footer;
}

.cols
{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(37vh, 1fr));
	align-items: stretch;
	justify-items: stretch;
}

.horiz
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

        width: 100%;
        height: auto;

	flex-wrap: wrap;
}

.w90
{
	width: 90%;
}

.w100
{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.codepar
{
        width: 100%;
        height: auto;
        white-space: pre-wrap;
}

